body{
   background-color: rgb(223, 218, 218);
}

.main {
  width: 70%;
  margin-left: 15%;
  background-color: rgb(249, 242, 217);
}
.mainTitle{
  padding-top: 2rem;
  text-align: center;

}

#infoDiv, #educationDiv, #experienceDiv{
  padding: 2rem;
  padding-bottom: 0;
}

#infoForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#aboutInput {
  grid-column: 1 / span 2;
  height: 5rem;
  text-align: start;
  resize: vertical;
}

#descriptionInput {
  grid-column: 2 / span 3;
  height: 200px;
  resize: vertical;
  white-space: pre-wrap;
}

.label {
  font-weight: bold;
}

#educationForm, #experienceForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 10px;
}

.submitBtn {
  grid-column: 1 / span 4;
  width: 25%;
  height: 2rem;
  justify-self: center;
}

.head {
  display: grid;
  grid-row: 1fr 1fr;
  background-color: rgb(127, 227, 255);
  text-align: center;
}
.contactInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



#aboutDiv {
  text-align: center;
}

.resumeContainer {
  display: grid;
}

.resume {
  margin-top: 50px;
  width: 800px;
  height: 1100px;
  background-color: white;
  justify-self: center;
  margin-bottom: 50Px;
}

.resumeMain {
  padding-left: 2rem;
  padding-right: 2rem;
}

#about {
  white-space: pre-line;
}

.description {
  white-space: pre-line;
}

.experienceDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
}