body{
   background-color: rgb(223, 218, 218);
}

.main {
  width: 70%;
  margin-left: 15%;
  background-color: rgb(249, 242, 217);
}

#infoDiv, #educationDiv, #experienceDiv{
  margin-top: 2%;
  padding: 2rem;
}

#infoForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 10px;
}

#educationForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 10px;
}


.head {
  display: grid;
  grid-row: 1fr 1fr;
  background-color: rgb(127, 227, 255);
  text-align: center;
}
.contactInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#descriptionInput {
  width: 400px;
  height: 200px;
}
.resumeContainer {
  display: grid;
}

.resume {
  width: 800px;
  height: 1100px;
  background-color: white;
  justify-self: center;
}